{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-pink">Valider</button>
    <button class="btn-pink" id="back-home"><a href="{{ path('app_home') }}" class="btn-pink">Retour</a></button>
{{ form_end(form) }}
