{% extends 'base.html.twig' %}

{% block title %}New Rating{% endblock %}

{% block body %}
    <h5>Evaluer l'activité {{ activity.name }} à {{ activity.city }}</h5>

    {{ include('rating/_form.html.twig') }}

    <a href="{{ path('app_rating_index') }}">back to list</a>
{% endblock %}
