{% extends 'base.html.twig' %}

{% block title %}New Rating{% endblock %}

{% block body %}
    <h5 class="mb-4">Evaluer l'activité {{ activity.name }} à {{ activity.city }}</h5>

    {{ include('rating/_form.html.twig') }}

{% endblock %}
